<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NZ C19 CASES</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="oi oi-plus" aria-hidden="true"></span>  Locations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cases">
                <span class="oi oi-plus" aria-hidden="true"></span>  Cases
            </NavLink>
        </li>

    </ul>
    <a class="near" href="https://github.com/Dontletmein/COVID-19-website/"><button><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub-Mark" width="8%" height="8%">GitHub</button></a>
    <p class="ending">

        <br />
        This site is developed by a <a href="https://github.com/Dontletmein/COVID-19-website/blob/master/README.md">volunteer team</a> for non-commercial use only.
        <br />
        We acknowledge the efforts of doctors, nurses, and other healthcare professionals.
        <br />
        We also acknowledge all the contributions by the people around the world, in fight against this pandemic.
    </p>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
